<div class="container">
  <div class="row">
    <div class="col-xs-12"><h1>Lists Like Woah!</h1></div>

    <div class="col-xs-2"></div>
      <div id="list" class="col-xs-8">
        <h2>My List</h2>
        {{#each list_items}}
          <h5>{{todo}}</h5>
        {{/each}}
      </div>
    <div class="col-xs-2"></div>


  </div>




</div>

<h1>We did it!</h1>
