<div class="container-fluid">
  <nav class="navbar">
    <div class="nav navbar-nav">
      <h1 class="navbar-brand">Lists Like Woah!</h1></div>

      <a id="user-info" class="pull-right" href="#">User Info</a>

  </nav>


  <div class="row">
      <div id="list" class="col-xs-12">
        <h2>My List</h2>

          {{#each list_items}}
          <form method="post">
            <div class="row">
              <div class="col-xs-1"><h4>{{list_order}}</h4></div>
              <div class="col-xs-8">
                <h5>{{todo}}</h5>
                <p>{{description}}</p>
              </div>
              <div class="col-xs-1"><input id="checked" type="checkbox" onclick="checkedItem({{id}});"></input></div>
            </div>
          </form>
          {{/each}}

      </div>



  </div>
</div>
