<h1> Welcome to ListLikeWoah</h1>

<h1>Log In</h1>
<form method="post" action="/users/login">
  <input placeholder="Email" name="email" type="text"></input>
  <input placeholder="Password" name="password" type="text"></input>
  <input value="Submit" type="submit"></input>
</form>


<h1>Sign Up</h1>
<p>{{message}}</p>
<form method="post" action="/users/signup">
  <input placeholder="Email" name="email" type="text"></input>
  <input placeholder="Password" name="password" type="text"></input>
  <input value="Submit" type="submit"></input>
</form>