<h1 id="splash-logo" class="logo">ListLikeWoah</h1>
<p>We'll help you handle your life so you can go on an adventure.</p>

<h3>Log In</h3>
<form method="post" action="/users/login">
  <input placeholder="Email" name="email" type="text"></input>
  <input placeholder="Password" name="password" type="text"></input>
  <input value="Submit" type="submit"></input>
</form>


<h3>Sign Up</h3>
<form method="post" action="/users/signup">
  <input placeholder="Email" name="email" type="text"></input>
  <input placeholder="Password" name="password" type="text"></input>
  <input value="Submit" type="submit"></input>
</form>