* {
  border-radius: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: orange;*/
}

a, a:hover, a:visited {
  /*color: white;*/
}

.checked_true{
  text-decoration:line-through;
}


h1 {
  font-family: 'Caveat Brush', cursive;
}

#splash-logo {
  font-size: 3em;
  margin: auto auto;
}


.submission-form {
  margin: 5px;
}

.submit-todo-btn {
  margin-top: 15px;
}
