* {
  border-radius: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  /*color: white;*/
}

.checked_true{
  text-decoration:line-through;
}


h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-logo{
  font-size: 2em;
  margin-top:10px;
}

#splash-logo {
  font-size: 5em;
  margin-bottom: 50px;
  font-color:white;
}

.box {
  margin:40px 20px;
}

.submission-form {
  margin: 10px;
}

.submit-todo-btn {
  margin-top: 25px;
}

#add-btn {
  margin: 10px;
}

.each-todo {
  padding: 5px;
  margin:10px;
}

#list {
  margin: 40px 50px 10px 50px;
  margin
}