* {
  border-radius: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  /*color: white;*/
}

.checked_true{
  color: #999;
  background: #eee;
  border-radius: .5;
}


h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-logo{
  font-size: 2em;
  margin-top:10px;
}

#splash-logo {
  font-size: 5em;
  margin-bottom: 50px;
  font-color:white;
}

.box {
  margin:40px 20px;
}

.submission-form {
  margin: 10px;
}

.submit-todo-btn {
  margin-top: 25px;
}

#add-btn {
  margin: 10px;
}

.each-todo {
  padding: 5px;
  margin:10px;
}

.todo-title {
  font-size: 1.5em;
  margin:5px;
}

.todo-desc{
  margin: 5px;
}

.list-title{
  margin: 0px 0px 30px 20px;
  font-size: 2em;

}

#list {
  margin: 40px 50px 10px 50px;
  margin
}